html, body {
    background-color: lightgray;
    background-image: url("../images/cement.jpg");
    height: 100%;
}

#myname {
    background-color: turquoise;
    color: white;
}

.mybox {
    
    margin-top: 40px;
    border: 2px solid gray;
    background-color: white;
}

.aboutmetext {
    border-bottom: 4px solid gray;
    margin-bottom: 10px;
}

.floatleft {
    float: left;
}

.myfooter {
    height: 50px;
    background-color: darkgray;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-top: 4px solid turquoise;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.mybutton {
    background-color: turquoise;
}