
#myname {
    background-color: turquoise;
    color: white;
}



.mybox {
    
    margin-top: 40px;
    border: 2px solid gray;
    background-color: white;
}


.aboutmetext {
border-bottom: 4px solid gray;
margin-bottom: 10px;
}

.floatleft {
float: left;
}

body {
    background-color: lightgray;
    padding-bottom: 50px;
}


.myfooter {
height: 50px;
background-color: darkgray;
color: white;
text-align: center;
border-top: 4px solid turquoise;
width: 100%;
margin: 0 auto;
position: fixed;
        left: 0;
        bottom: 0;
}






@media screen and (min-width: 980px) {

    .mybox {
        
        margin-top: 40px;
        border: 2px solid gray;
        background-color: white;
        width: 66%;
    }
    #myname {
        margin-left: 100px;
        background-color: turquoise;
        color: white;
    }
    .myfooter {
        height: 50px;
        background-color: darkgray;
        color: white;
        text-align: center;
        border-top: 4px solid turquoise;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        left: 0;
        bottom: 0;
        }
    .myboxport {
        margin-top: 40px;
        border: 2px solid gray;
        background-color: white;
       }

      
}